@page "{SearchArg?}"
@model WebApp.Pages.Samples.PartialFilterSearchModel
@{
    ViewData["Title"] = "Partial String Table Query";
}
<h1>Partial String query resulting in a Table Display</h1>

<p>@Model.Feedback</p>

<form method="post">
    <label>
        @*
        The type attribute can be set to different input for acceptable value
        "number" restricts input to numeric
        The numeric are by default whole numbers
        The numeric can be negative or positive
        Additional attributes can be used to refind the acceptable values.
        min="xxx" indicates the minimum acceptable value
        max="xxx" indicates the maximum acceptable value
        step="xxx" indicates the increments of the acceptable values
        step="1" (default) whole number increments of 1 (1,2,3,...)
        step="0.01" decimal numbers increments of .01 (great for dollar amounts)
        required indicates that the field must have a value

        When you use these validation attributes on your form input controls,
        the user MUST meet the validation BEFORE the form is sent to the
        web server for processing

        The attribute formnovalidate overrides any validation (html5) the exist
        on your form controls
        *@
        Enter Region ID:
        <input type="number" asp-for="RegionID"
               placeholder="enter your region id number"
               step="1" required />
    </label>
</form>

<form method="post">
    <label>
        Enter a partial Territory description:
        <input type="text" asp-for="SearchArg"
               placeholder="enter your description" required />
    </label>
    <br />
    @*restrict the display of the table to when there is data to view*@
    @if (Model.TerritoryInfo != null)
    {
        if (Model.TerritoryInfo.Count() == 0)
        {
            <p style="color: blueviolet; font-weight: bold; font-size: large">
                There are no territories matching your search request
            </p>
        }
        else
        {
            <table>
                <thead>
                    @*Used for column titles*@
                    <tr>
                        <th>Territory</th>
                        <th>Name</th>
                        <th>Region</th>
                    </tr>
                </thead>
                <tbody>
                    @*Used for the table details
            The number of rows are usually unknown for a database query
            *@
                    @foreach (var item in Model.TerritoryInfo)
                    {
                        <tr>
                            <td>@item.TerritoryID</td>
                            <td>@item.TerritoryDescription</td>
                            <td>
                                <select disabled="true">
                                    @foreach (var region in Model.RegionList)
                                    {
                                        if (region.RegionID == item.RegionID)
                                        {
                                            <option value="@region.RegionID" selected>@region.RegionDescription</option>
                                        }
                                        else
                                        {
                                            <option value="@region.RegionID">@region.RegionDescription</option>
                                        }
                                    }
                                </select>

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    @*Used for summary table information eg totals*@
                </tfoot>
            </table>
        }
    }
    <button type="submit" asp-page-handler="Fetch">Fetch Territories</button>
    &nbsp; &nbsp;
    <button type="submit" asp-page-handler="Clear" formnovalidate>Clear</button>
</form>
