@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <h1 >Welcome to Razor Pages in CPSC-1517</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if(string.IsNullOrWhiteSpace(Model.MyName))
    {
        <p>The world of Razor is currenly closed.</p>
    }
    else
    {
        <p style="color:forestgreen; font-weight:bold" >@Model.MyName</p>
    }
<br />
<br />
@if(Model.BuildVersion == null)
{
    <b>Build Version Unknown</b>
}
else
{
    <p>Database Version:    @Model.BuildVersion.Major .
                            @Model.BuildVersion.Minor .
                            @Model.BuildVersion.Build 
                was released on @Model.BuildVersion.ReleaseDate.ToShortDateString();
    </p>
}
