@page "/SamplePages/Basics"
<PageTitle>Review Page Basics</PageTitle>
<style>
    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
</style>


<h1>Basics or Blazor Page (Review)</h1>
@{
    // The cshtml page contains both cs code and html code
    // The @ symbol takes processing from the html environment
    //  and moves it to the C# environment

    //  Processing any html code moves processing the html environment
}
<p>
    @if (string.IsNullOrWhiteSpace(myName))
    {
        <p>The random number is odd [@oddEven] </p>
    }
    else
    {
        <p>@myName</p>
    }
</p>
<button class="btn-success" @onclick="RandomValue">Random Value</button>

<p>
    <MatButton OnClick="GetDatabase" Label="Get Database Version" Raised="true"></MatButton>
    @if (workingVersionView.Build == 0)
    {
        <p style="font-weight: bold">Build Version: Unknown</p>
    }
    else
    {
        <p>Build Version: @workingVersionView.Major .
            @workingVersionView.Minor .
            @workingVersionView.Build .
            Released: @workingVersionView.AsOfDate.ToShortDateString()


        </p>
    }
</p>

